<h1>Listing employees</h1> <%= link_to 'New Employee', new_employee_path, :class => 'ui green button' %>

<table class="ui celled striped table">
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td>
      <% if employee.company? %>
        <%= employee.company.name %>
      <% end %>
    </td>
    <!-- <td><%= link_to 'Show', employee %></td> -->
    <td><%= link_to 'Edit', edit_employee_path(employee), :class => 'ui blue button' %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ui red button' %></td>
  </tr>
<% end %>
</table>

