<% if notice %>
	<div class="ui info message">
	  <p id="notice"><%= notice %></p>
	</div>
<% end %>

<h1> User "<%= @employee.name %>"</h1>
<div class="ui raised segment">
<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Company:</b>
  <%= @employee.company.name %>
</p>
</div>

<%= link_to 'Edit', edit_employee_path(@employee), :class => 'ui button primary' %>
<%= link_to 'Back', employees_path %>
