<%= form_for(@visitor) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2> 
      <ul>
      <% @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui header">
    <%= f.label :name %>
  </div>
  <div class="ui input">
    <%= f.text_field :name %>
  </div>
  <div class="ui header ">
    <%= f.label :last_name %>
  </div>
  <div class="ui input">
    <%= f.text_field :last_name %>
  </div>
  <div class="ui header">
    <%= f.label :company %>
    
  </div>
  <div class="field ui input">
    <%= f.select :company_id, Company.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'ui button green' %>
  </div>
<% end %>
