<h1>Listing visitors</h1>
<%= link_to 'New Visitor', new_visitor_path, :class => 'ui button green' %>
<table class="ui table">
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Company</th>
    <th>Actions</th>
    <!-- <th></th>
    <th></th> -->
  </tr>

<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.name %></td>
    <td><%= visitor.last_name %></td>
    
    <td>
      <% if visitor.company? %>
    <%= visitor.company.name %>

    <% end %>
    </td>
    <!-- <td><%= link_to 'Show', visitor %></td> -->
    <td><%= link_to 'Edit', edit_visitor_path(visitor), :class => 'ui button blue' %>
        <%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ui button red' %>
    </td>
  </tr>
<% end %>
</table>


