<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @visitor.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @visitor.last_name %>
</p>

<p>
  <b>Company:</b>
  <%= @visitor.company.name %>
</p>


<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
