<div class="ui ignore info message">
      <p><i class="icon heart"></i> Single paragraphs are automatically formatted as text. You can also specify an item as textual by adding the classname <b>text</b></p>
    </div>
<h1>Companies</h1>
<table class="ui table">
	<thead>
		<th>
			Name
		</th>
	</thead>
	<tbody>
		<tr></tr>
	</tbody>
</table>