<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_input %><br />
    <%= f.date_select :date_input %>
  </div>
  <div class="field">
    <%= f.label :time_input %><br />
    <%= f.time_select :time_input %>
  </div>
  <div class="field">
    <%= f.label :output %><br />
    <%= f.date_select :output %>
  </div>
  <div class="field">
    <%= f.label :output %><br />
    <%= f.time_select :output %>
  </div>
  <div class="field">
    <%= f.label :visitor %><br />
    <!--<%= f.text_field :visitor %>-->
     <%= f.select :visitor_id, Visitor.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>
  
  <div class="field">
    <%= f.label :company %><br />
    <%= f.select :company_id, Company.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>
  <div class="field">
    <%= f.label :input_output %><br />
    <%= f.number_field :input_output %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
