<h1>Listing records</h1> <%= link_to 'New Record', new_record_path, :class => 'ui button green' %>

<table class="ui table">
  <tr>
    <th>Date input</th>
    <th>Time input</th>
    <th>Output</th>
    <th>Output</th>
    <th>Visitor</th>
    <th>Input output</th>
    <th>Company</th>
    <th colspan="3">Actions</th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.date_input %></td>
    <td><%= record.time_input %></td>
    <td><%= record.output %></td>
    <td><%= record.output %></td>
    <td>
        <% if record.visitor? %>
        <%= record.visitor.name %>
    <% end %>
    </td>
    <td><%= record.input_output %></td>
    <td>
    <% if record.company? %>
        <%= record.company.name %>
        <% end %>
    </td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


