<p id="notice"><%= notice %></p>

<p>
  <b>Date input:</b>
  <%= @record.date_input %>
</p>

<p>
  <b>Time input:</b>
  <%= @record.time_input %>
</p>

<p>
  <b>Output:</b>
  <%= @record.output %>
</p>

<p>
  <b>Output:</b>
  <%= @record.output %>
</p>

<p>
  <b>Visitor:</b>
  <%= @record.visitor.name %>
</p>

<p>
  <b>Input output:</b>
  <%= @record.input_output %>
</p>

<p>
  <b>Company:</b>
  <%= @record.company.name %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
