<%= form_for(@agenda) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :employee %><br />
    <!--<%= f.text_field :employee %>-->
    <%= f.select :employee_id, Employee.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <!--<%= f.text_field :company %>-->
    <%= f.select :company_id, Company.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
