<h1>Listing agendas</h1>
<%= link_to 'New Agenda', new_agenda_path, :class => 'ui button green' %>
<table class="ui table">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Employee</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agendas.each do |agenda| %>
  <tr>
    <td><%= agenda.date %></td>
    <td><%= agenda.time %></td>
    <td><% if agenda.employee? %>
    <%= agenda.employee.name %>
    <% end %>
    </td>
    <td><% if agenda.company? %>
    <%= agenda.company.name %>
    <% end %>
    </td>
    <td><%= link_to 'Show', agenda %></td>
    <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
    <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
