<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @agenda.date %>
</p>

<p>
  <b>Time:</b>
  <%= @agenda.time %>
</p>

<p>
  <b>Employee:</b>
  <%= @agenda.employee.name %>
</p>

<p>
  <b>Company:</b>
  <%= @agenda.company.name %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
