<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui header">
    <%= f.label :name %>
  </div>
  <div class="field ui input">
    <%= f.text_field :name %>
  </div>

   <div class="ui header">
    <%= f.label :role %>
  </div>
  <div class="field ui input">
     <%= f.select :role_id, Role.all.collect { | x | [x.name, x.id]}, {}, :class => '' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', :class => 'ui button green' %>
  </div>
<% end %>
