<h1>Listing companies</h1>
<%= link_to 'New Company', new_company_path, :class => 'ui green button' %>
<table class="ui celled striped table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <!-- <td><%= link_to 'Show', company %></td> -->
    <td><%= link_to 'Edit', edit_company_path(company), :class => 'ui blue button' %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ui red button' %></td>
  </tr>
<% end %>
</table>

